@model IEnumerable<TexcelASP.Models.Jeu>

@{
    ViewBag.Title = "Index - Jeux";
}

@if (Session["matricule"] != null)
{
<h2>Jeux</h2>

    <p>
        @using (Html.BeginForm())
        {
            @Html.TextBox("Rechercher")
            <input type="submit" value="Rechercher" />
        }
    </p>
    <div class="list-element">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.configMinimal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Classification1.nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Developpeur1.nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre1.nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Platforme1.nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Theme1.nom)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.configMinimal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classification1.nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Developpeur1.nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre1.nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Platforme1.nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Theme1.nom)
                    </td>
                    <td>
                        @Html.ActionLink("Détails", "Details", new { id = item.id }, new { @class = "btn whiteBtn" })
                    </td>
                    @if (Session["categorieEmploi"].ToString() == "Administrateur")
                    {
                     <td>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.id }, new { @class = "btn whiteBtn" })
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.id }, new { @class = "btn whiteBtn" })
                    </td>
                    }
                    </tr>
            }
        </table>
    </div>
    if (Session["categorieEmploi"].ToString() == "Administrateur") 
    {
        <p>
            @Html.ActionLink("Ajouter", "Create", null, new { @class = "btn whiteBtn" })
        </p>
    }
}
else
{
    <div style = "color:red; text-align: center; font-size:large; margin-top: 15%;">
        
        <p> Vous n'êtes pas autorisé à accéder à cette page!</p>
    </div>
}