@model IEnumerable<TexcelASP.Models.Platforme>

@{
    ViewBag.Title = "Index - Plateforme";
}

@if (Session["matricule"] != null)
{
<h2>Index</h2>
<p>
    @using (Html.BeginForm())
    {
        @Html.TextBox("Rechercher")
        <input type="submit" value="Rechercher" />
    }
</p>
<div class="list-element">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.configuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemeExploitation1.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypePlatforme1.nom)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.configuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SystemeExploitation1.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypePlatforme1.nom)
                </td>
                <td>
                    @Html.ActionLink("Détails", "Details", new { id = item.id }, new { @class = "btn whiteBtn" })
                </td>
                    @if(Session["categorieEmploi"].ToString() == "Administrateur")
                    {
                        <td>
                            @Html.ActionLink("Modifier", "Edit", new { id = item.id }, new { @class = "btn whiteBtn" })
                            @Html.ActionLink("Supprimer", "Delete", new { id = item.id }, new { @class = "btn whiteBtn" })
                        </td>
                    }
            </tr>
        }

    </table>
</div>
if (Session["categorieEmploi"].ToString() == "Administrateur")
{
    <p>
        @Html.ActionLink("Ajouter", "Create", null, new { @class = "btn whiteBtn" })
    </p>
}
}
else
{
    <div style="color:red; text-align: center; font-size:large; margin-top: 15%;">
        <p>Vous n'êtes pas autorisé à accéder à cette page!</p>
    </div>
}