@model TexcelASP.Models.Theme

@{
    ViewBag.Title = "Supprimer - Thèmes";
}

<h2>Supprimer</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Thèmes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour", "Index")
        </div>
    }
</div>
