@model TexcelASP.Models.Theme

@{
<<<<<<< HEAD
    ViewBag.Title = "Supprimer - Thèmes";
}

<h2>Supprimer</h2>
=======
    ViewBag.Title = "Supprimer - Themes";
}

<h2>Suppression</h2>
>>>>>>> Nico

<h3>Êtes-vous certain de vouloir supprimer ceci?</h3>
<div>
<<<<<<< HEAD
    <h4>Thèmes</h4>
=======
    <h4>Thème</h4>
>>>>>>> Nico
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
<<<<<<< HEAD
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour", "Index")
=======
            <input type="submit" value="Delete" class="whiteBtn btn btn-default" /> |
            @Html.ActionLink("Retour", "Index", null, new { @class = "btn whiteBtn" })
>>>>>>> Nico
        </div>
    }
</div>
