@model TexcelASP.Models.Theme

@{
<<<<<<< HEAD
    ViewBag.Title = "Détails - Thèmes";
=======
    ViewBag.Title = "Détails - Themes";
>>>>>>> Nico
}

<h2>Détails</h2>

<div>
    <h4>Thèmes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>
    </dl>
</div>
<p>
<<<<<<< HEAD
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Retour", "Index")
=======
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id }, new { @class = "btn whiteBtn" }) |
    @Html.ActionLink("Retour", "Index", null, new { @class = "btn whiteBtn" })
>>>>>>> Nico
</p>
