@model TexcelASP.Models.Theme

@{
    ViewBag.Title = "Détails - Thèmes";
}

<h2>Détails</h2>

<div>
    <h4>Thèmes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Retour", "Index")
</p>
